<div>
    <h2>create todo</h2>
    <form action="" method="post">
        <label > Title</label>
        <input type="text" name="title" required>
        <button type="submit">Create todo</button>
    </form>
    <p><a href="/todo">View todos</a></p>

</div>